@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --text-color: white;
  --theme-color: rgb(87 219 161);
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  top: 0;
  position: sticky;
  border-bottom: 2px solid white;
  z-index: 1;
}

nav .name {
  font-size: xX-large;
  margin-left: 20px;
  font-family: Arizonia;
}

.name span {
  color: var(--theme-color);
}
nav ul li {
  list-style: none;
}

nav ul li a:hover {
  background-color: var(--theme-color);
  color: black;
}

nav ul li .skills{
    background-color: var(--theme-color);
    color: black;
}

nav ul li a {
  padding: 8px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
nav .navdetails {
  display: flex;
  gap: 2.5rem;
}

.icon {
  display: flex;
  position: relative;
  display: none;

  margin-right: 30px;
}
#toggle {
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 1;
}
.navicon {
  position: absolute;
  font-size: 1.6rem;
  top: -8px;
  right: 0;
}

main{
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

main .skills_image{
    width: 70%;
    display: grid;
    grid-template-areas:
    "empty1 java figma"
    "CSS cs empty2"
    "HTML empty6 rest"
    "empty5  sql empty4"
    "react tailwind empty3"
    ;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row dense;
}

main .empty1{
    width: 200px;
    height: 100px;;
    background-color: rgb(98, 97, 97);
    border-radius: 200px;
}
main .empty2{
    width: 70px;
    height: 90px;;
    background-color: rgb(98, 97, 97);
    border-bottom-right-radius: 200px;
}
main .empty3{
    width: 70px;
    height: 90px;;
    background-color: rgb(98, 97, 97);
    border-top-right-radius: 200px;
}

main div img{
    border-radius: 20px;
}

div:nth-child(1){
    grid-area: cs;
}
div:nth-child(2){
    grid-area: css;
}
div:nth-child(3){
    grid-area: figma;
}
div:nth-child(4){
    grid-area: HTML;
}
div:nth-child(5){
    grid-area: empty1;
}
div:nth-child(6){
    grid-area: java;
}
div:nth-child(7){
    grid-area: empty2;
}
div:nth-child(8){
    grid-area: react;
}
div:nth-child(9){
    grid-area: empty3;
}
div:nth-child(10){
    grid-area: empty4;
}
div:nth-child(11){
    grid-area: rest;
}
div:nth-child(12){
    grid-area: empty5;
}
div:nth-child(13){
    grid-area: sql;
}
div:nth-child(14){
    grid-area: tailwind;
}
div:nth-child(15){
    grid-area: empty6;
}


main .skills p{
    width: 700px;
}

.skills h1{
    font-size: 4rem;
    color: var(--theme-color);
}

.skills h3{
    font-size: xx-large;
    text-align: center;
    padding: 10px;
}

footer {
  background-color: rgb(16, 128, 16);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footername {
  font-family: Arizonia;
}
footer .socialmedi a img {
  padding-right: 20px;
}

@media (max-width: 768px) {
  nav .navdetails {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 0;
    right: 0;
    background-color: black;
    display: none;
  }
  li:nth-child(4) {
    margin-bottom: 20px;
  }
  .icon {
    display: block;
  }
  section:has(#toggle:checked) + .navdetails {
    display: flex;
  }
  main{
    flex-direction: column;
    
    width: 0%;
  }
  
}
